@charset "UTF-8";

@media screen and (max-width: 650px){
    .imagem{
        width: 100%;
        display: block;
    }
    ol{
        width: auto;
        margin-left: 15px;
        margin-right: 15px;
    }
    li{
        width: 90%;
        padding-left: 10px;
    }
}